---
import Layout from "@/layouts/Layout.astro";
import AddCredential from "@/components/icons/AddCredential.astro";
import CredentialsList from "@/components/CredentialsList.svelte";
import CredentialSection from "@/components/CredentialSection.svelte";
---

<Layout title="Home page">
  <main
    class="flex flex-col items-center justify-center h-screen w-screen lg:py-0"
  >
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <CredentialSection client:only />
    </div>
  </main>
</Layout>
