---
import Layout from "@/layouts/Layout.astro";
import AddCredential from "@/components/icons/AddCredential.astro";
import CredentialsList from "@/components/CredentialsList.svelte";
import CredentialSection from "@/components/CredentialSection.svelte";
---

<Layout title="Home page">
  <main
    class="flex flex-col items-center justify-center h-screen w-screen lg:py-0"
  >
    <section class="mx-10 w-7/12 h-5/6 rounded-lg flex flex-col items-center">
      <div class="w-full mt-10 grid grid-cols-3 gap-4">
        <h1 class="col-span-2 text-2xl font-bold dark:text-white">
          Credentials list
        </h1>
        <div
          class="col-span-1 w-fit p-2 rounded-lg flex items-center justify-self-end border-2 border-gray-300 dark:text-white dark:hover:bg-[#2a2c2d]"
        >
          <AddCredential class="size-5 mr-2" />
          <button class="text-xs font-semibold dark:text-[#e8e6e3]"
            >ADD CREDENTIAL</button
          >
        </div>
        <h3 class="col-span-2 font-semibold dark:text-gray-300">
          See all information about your logins
        </h3>
        <div class="col-span-1 justify-self-end">
          <input
            type="text"
            class="h-10 px-3 mb-2 text-base dark:text-[#e8e6e3] dark:placeholder-[#8b847c] dark:bg-[#2a2c2d] border dark:border-[#8b847c] rounded-lg focus:outline-none dark:focus:border-[#8b847c]"
            placeholder="Search for a credential"
          />
        </div>
      </div>
    </section>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <CredentialSection client:only />
    </div>
  </main>
</Layout>
