---
import "@fontsource-variable/onest";
import Layout from "../layouts/Layout.astro";
import Connection from "../components/Connection.svelte";
---

<Layout title="Welcome to mypass-gui">
  <main
    class="flex flex-col items-center justify-center mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold text-black dark:text-white"
    >
      <img
        class="w-8 h-8 mr-2"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg"
        alt="logo"
      />
      MyPass
    </a>
    <!--Check for the best option https://docs.astro.build/en/core-concepts/framework-components/#hydrating-interactive-components -->
    <Connection client:visible />
  </main>
</Layout>
